<%- include('include/head.ejs') -%>
<%- include('include/sidebar.ejs') -%>
<noscript>
  You need to enable JavaScript to run this app.
</noscript>
<h1>
  <%= title %>
</h1>
<%- include('include/footer.ejs') -%>