<form method="post">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="bmd-label-floating">Name</label>
        <input type="text" name="name" class="form-control" required />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="bmd-label-floating">Number</label>
        <input type="number" name="number" class="form-control" required />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary pull-right">Add Section</button>
  <div class="clearfix"></div>
</form>
